<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- Initialization for data source -->
  <!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> -->
  <!-- <property name="driverClassName" value="com.mysql.jdbc.Driver" /> -->
  <!-- <property name="url" value="jdbc:mysql://localhost:3306/ds" /> -->
  <!-- <property name="username" value="admin" /> -->
  <!-- <property name="password" value="admin" /> -->
  <!-- </bean> -->

  <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
    <property name="poolProperties">
      <bean class="org.apache.tomcat.jdbc.pool.PoolProperties">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/ds" />
        <property name="username" value="admin" />
        <property name="password" value="admin" />
        <property name="jmxEnabled" value="true" />
        <property name="testWhileIdle" value="false" />
        <property name="testOnBorrow" value="true" />
        <property name="validationInterval" value="30000" />
        <property name="testOnReturn" value="false" />
        <property name="validationQuery" value="select 1" />
        <property name="timeBetweenEvictionRunsMillis" value="30000" />
        <property name="maxActive" value="100" />
        <property name="initialSize" value="10" />
        <property name="maxWait" value="10000" />
        <property name="removeAbandonedTimeout" value="60" />
        <property name="minEvictableIdleTimeMillis" value="30000" />
        <property name="minIdle" value="10" />
        <property name="logAbandoned" value="true" />
        <property name="removeAbandoned" value="true" />
        <property name="jdbcInterceptors"
          value="org.apache.tomcat.jdbc.pool.interceptor.ConnectionState;org.apache.tomcat.jdbc.pool.interceptor.StatementFinalizer" />
      </bean>
    </property>
  </bean>

  <bean id="dsPersonDao" class="com.zwli.datastructure.example.dao.DsPersonDaoImpl">
    <property name="dataSource" ref="dataSource" />
  </bean>
  <bean id="dsCourseDao" class="com.zwli.datastructure.example.dao.DsCourseDaoImpl">
    <property name="dataSource" ref="dataSource" />
  </bean>
  <bean id="dsRefDao" class="com.zwli.datastructure.example.dao.DsRefDaoImpl">
    <property name="dataSource" ref="dataSource" />
  </bean>

  <bean id="handler" class="com.zwli.datastructure.example.DsHandler">
    <property name="dsCourseDao" ref="dsCourseDao" />
    <property name="dsPersonDao" ref="dsPersonDao" />
    <property name="dsRefDao" ref="dsRefDao" />
  </bean>

</beans>
